{{!-- ./views/index.hbs --}}
{{!-- 類別 --}}
<div class="dropdown text-center my-4" id="dropdown">
  <button class="btn btn-secondary dropdown-toggle col-8 col-md-6 col-lg-4" type="button" data-toggle="dropdown">
    類別
  </button>
  <div class="dropdown-menu col-6 col-lg-4 col-md-5">
    <a class="dropdown-item" href="/">全部</a>
    <a class="dropdown-item" href='/?category=<i class="fas fa-home"></i>'><i class="fas fa-home"></i>&nbsp;家居物業</a>
    <a class="dropdown-item" href='/?category=<i class="fas fa-shuttle-van"></i>'><i
        class="fas fa-shuttle-van"></i>&nbsp;交通出行</a>
    <a class="dropdown-item" href='/?category=<i class="fas fa-grin-beam"></i>'><i
        class="fas fa-grin-beam"></i>&nbsp;休閒娛樂</a>
    <a class="dropdown-item" href='/?category=<i class="fas fa-utensils"></i>'><i
        class="fas fa-utensils"></i>&nbsp;餐飲食品</a>
    <a class="dropdown-item" href='/?category=<i class=" fas fa-pen"></i>'><i class=" fas fa-pen"></i>&nbsp;其他</a>
  </div>
</div>

{{!-- 總金額 --}}
<div class="d-flex justify-content-center mb-4" id="total-amount">
  <span>總金額:&nbsp;</span>
  <h1>{{{totalAmount}}}</h1>
</div>

<table class="table col-10 mx-auto" id="records">
  <tbody>
    {{#each records}}
    <tr>
      <th scope="row">{{{this.category}}}</th>
      <td>
        <h3>{{{this.name}}}</h3><span>{{{this.date}}}</span>
      </td>
      <td id="merchant">
        {{#if this.merchant}}
        <i class="fas fa-store"></i>&nbsp;
        {{/if}}
        {{{this.merchant}}}
      </td>
      <td id="amount">{{{this.amount}}}</td>
      <td id="modify">
        <a class="btn btn-success btn" href="/records/{{{this.id}}}/edit"><i class="fas fa-edit"></i>&nbsp;修改</a>
        <form action="/records/{{{this.id}}}/?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger btn" type="submit"><i class="fas fa-trash-alt"></i>&nbsp;刪除</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<div class="text-center my-4">
  <a href="/records/new" class="btn btn-lg btn-warning" id="create">新增支出 </a>
</div>