{{!-- ./views/index.hbs --}}
<p>類別</p>
<p>總金額</p>
<ul>
  {{#each records}}
  <li>{{{this.name}}}&nbsp;{{{this.category}}}&nbsp;{{{this.date}}}&nbsp;{{{this.amount}}}&nbsp;
    <a href="/records/{{{this.id}}}/edit">修改</a>&nbsp;
    <a href="#">刪除</a></li>
  {{/each}}
</ul>
<a href="/records/new">新增支出</a>